* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    margin: 20px;  /* Adds margin around the entire page */
    background-color: white;
  }
  
  .container {
    background-color: white;
    height: 100%;
    margin: 0;
  }
  
  header {
    height: 60%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }
  
  h1 {
    font-size: 3rem;  /* Larger text on desktop */
    letter-spacing: 0.1em;
  }

  h1 span {
    margin-right: 30px;  /* Adjust this value as needed */
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;  /* Smaller text on mobile */
    }
  }

  nav {
    padding: 20px 0;
    min-height: 60px;
    background-color: white;
  }

  ul.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
   padding: 0;
  }

  .menu a {
    color:black;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    ul.menu {
      flex-direction: column;  /* Stack links vertically */
      align-items: center;     /* Center-align links */
    }
  
    .menu a {
      padding: 15px 0;  /* More space for clickable items */
      font-size: 1.2rem; /* Increase font size for better visibility */
    }
  }

  main {
    height:20%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
  }