@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
}

.container {
  background: lemonchiffon;
  display: flex;
  flex-direction: column;
}

h1 {
  background: tomato;
}

.pullquote {
  background: black;
  color: white;
}

@media (min-width: 480px) {
  .container {
    background: lemonchiffon;
  }
}

@media (max-width: 768px) {
  .container {
    background: powderblue;
  }
}
